Source: fandango
Maintainer: srubio <srubio@cells.es>
Section: python
Priority: optional
Build-Depends: dh-python, python-setuptools (>= 0.6b3), python-all (>= 2.6.6-3), debhelper (>= 9)
Standards-Version: 3.9.6

Package: python-fandango
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-pytango
Description: Simplify the configuration of big Tango control systems
 Fandango is a Python module created to simplify the configuration of big control systems; implementing the behavior of Jive (configuration) and/or Astor (deployment) tools in methods that could be called from scripts using regexp and wildcards. Fandango provides functional methods, classes and utilities to develop high-level device servers and APIs for Tango control system.

